.parent {
  position: relative;
  margin: auto;
}

.image1 {
  margin: auto;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image2 {
  width: 100%;
  height: auto;
}

.tg  {border-collapse:collapse;border-spacing:0; z-index:1; position: relative;}
.tg td{border-spacing:0; padding:0}
.tg th{border-spacing:0; padding:0}
.tg .tg-0lax{border-spacing:2px; padding:5px; padding-top: 270px;}