body {
   background-color: #F1F0F0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
   -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding:5px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.image1 {
  margin: auto;
  width: 80%;
}

.image2 {
  width: 80%;
}

.menu{
  position:relative;
  z-index:1;
  top:-120px;
  padding-left: 42%;
  width:90%;
}

.back {
  position:relative;
  margin: auto;
  padding-left:10%;
}

.col-1 {width: 30%;}
.col-2 {width: 30%;}
.col-3 {width: 28%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
	position:relative;
	padding:0px;
  }
  [class*="col-1"] {
	padding-top:40px;
  }
  [class*="col-2"] {
	padding-top:40px;
  }
  [class*="col-3"] {
	padding-top:40px;
  }
  [class*="back"] {
	width: 120%;
	padding-left:0px;
  }
  [class*="menu"] {
	padding-left:15%;
	top:0px;
	width:100%;
  }
}